body {
  --body-background: var(--color-primary);
  --body-font-color: var(--color-secondary);
  
  background: var(--body-background);
  color: var(--body-font-color);
}

/* typography */
[data-heading] {
  --heading-font-family: var(--font-heading);
  --heading-font-size: var(--size-xxxl);
  --heading-font-weight: 300;
  --heading-letting-spacing: var(--size-xxs);
  
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letting-spacing);
}

[data-heading="2"] {
  --heading-font-size: var(--size-xl);
}

[data-heading="3"] {
  --heading-font-size: var(--size-l);
}

[data-heading="4"] {
  --heading-font-size: var(--size-ml);
}

/* header */
.header {
  --header-background-color: var(--color-primary);
  --header-background-image: var(--color-pattern-dots);
  --header-background-size: var(--color-pattern-size);
  --header-padding: var(--size-m);
  
  background-color: var(--header-background-color);
  background-image: var(--header-background-image);
  background-size: var(--header-background-size) var(--header-background-size);
  padding: var(--header-padding) 0;
  position: sticky;
  top: 0;
  z-index: 9;
}