body {
  --body-background: var(--color-black-100);
  --body-font-color: var(--color-white-100);
  
  background: var(--body-background);
  color: var(--body-font-color);
}

/* buttons */
.btn {
  --button-background: var(--color-black-64);
  --button-border-color: var(--color-white-08);
  --button-box-shadow: var(--shadow-level-1);
  --button-font-color: var(--color-white-100);
  --button-font-family: var(--font-heading);
  --button-font-size: 14px;
  --button-justify-content: center;
  --button-padding: 0 var(--size-m);
  --button-letter-spacing: 2px;
  --button-text-align: center;
  --button-height: var(--size-xl);
  --button-outline-color: var(--color-white-0);
  --button-outline-offset: calc(-1 * var(--size-xs));
  --button-width: initial;
  
  align-items: center;
  align-self: flex-start;
  background: var(--button-background);
  border: solid 1px var(--button-border-color);
  box-shadow: var(--button-box-shadow);
  color: var(--button-font-color);
  display: inline-flex;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  justify-content: var(--button-justify-content);
  letter-spacing: var(--button-letter-spacing);
  outline-color: var(--button-outline-color);
  outline-offset: var(--button-outline-offset);
  outline-style: dashed;
  outline-width: 1px;
  padding: var(--button-padding);
  text-align: var(--button-text-align);
  text-decoration: none;
  text-transform: capitalize;
  height: var(--button-height);
  width: var(--button-width);
  
  &:focus,
  &:hover,
  &[aria-selected="true"] {
    --button-background: var(--color-black-88);
    --button-border-color: var(--color-white-32);
  }
  
  &:focus {
    --button-outline-color: var(--color-white-48);
  }
  
}

[button~="icon"] {
  --button-padding: 0;
  width: var(--size-xl);
  max-width: var(--size-xl);
}

[button~="full"] {
  --button-justify-content: flex-start;
  --button-text-align: left;
  --button-width: 100%;
}

[button~="secondary"] {
  --button-background: var(--color-white-88);
  --button-border-color: var(--color-white-100);
  --button-font-color: var(--color-black-100);
  
  &:focus,
  &:hover,
  &[aria-selected="true"] {
    --button-background: var(--color-black-88);
    --button-font-color: var(--color-white-100);
    
    .icon {
      filter: invert(100%);
    }
    
  }
  
}

/* input + select */
.input {
  --input-background: var(--color-black-64);
  --input-border-color: var(--color-white-08);
  --input-font-color: var(--color-white-100);
  --input-outline-color: var(--color-white-0);
  --input-outline-offset: calc(-1 * var(--size-xs));
  --input-padding: 0 var(--size-m);
  --input-height: var(--size-xl);
  --input-width: 100%;
  
  --input-label-background: var(--color-black-100);
  --input-label-font-color: var(--color-white-88);
  --input-label-font-size: var(--size-ms);
  --input-label-padding: 0 var(--size-xs);
  --input-label-position: absolute;
  --input-label-top: 0;
  --input-label-left: var(--size-ms);
  --input-label-transform: translate(0, -50%);
  
  --input-icon-font-size: var(--size-ml);
  --input-icon-size: var(--size-xl);
  
  display: flex;
  flex-direction: column;
  position: relative;
  
  &:has(input[disabled]) {
    --input-background: var(--color-white-02);
    pointer-events: none;
  }
}

.input__field {
  align-items: center;
  background: var(--input-background);
  border: solid 1px var(--input-border-color);
  color: var(--input-font-color);
  display: inline-flex;
  outline-color: var(--input-outline-color);
  outline-offset: var(--input-outline-offset);
  outline-style: dashed;
  outline-width: 1px;
  padding: var(--input-padding);
  height: var(--input-height);
  width: var(--input-width);
  
  &:focus,
  &:hover {
    --input-border-color: var(--color-white-32);    
  }
  
  &:focus {
    --input-outline-color: var(--color-white-48);
  }
  
}

.input__icon {
  align-items: center;
  color: var(--input-label-font-color);
  display: inline-flex;
  font-size: var(--input-icon-font-size);
  justify-content: center;
  pointer-events: none;
  height: var(--input-icon-size);
  width: var(--input-icon-size);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.input__label {
  background: var(--input-label-background);
  color: var(--input-label-font-color);
  font-size: var(--input-label-font-size);
  padding: var(--input-label-padding);
  text-transform: capitalize;
  position: var(--input-label-position);
  top: var(--input-label-top);
  left: var(--input-label-left);
  transform: var(--input-label-transform);
  z-index: 1;
}

[input~="textarea"] {
  --input-padding: var(--size-ms) var(--size-m);
  --input-height: auto;
}

[input~="select"] {
  --input-padding: 0 var(--size-l) 0 var(--size-m);
  
  .input__field {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
}

/* @TODO - clean this up a little.. need to look into what can be styled nowadays */
[input~="file"] {
  margin-top: var(--size-m);
  
  .input__field {
    padding: 0;
  }
  
  .input__field::file-selector-button {
    background: var(--color-white-02);
    border: 0;
    color: var(--input-font-color);
    padding: var(--input-padding);
    height: var(--input-height);
    transition: var(--timing-basic);
  }
  
}

/* icon */
.icon {
  --icon-invert: invert(100%);
  
  filter: var(--icon-invert);
  transition: var(--timing-basic);
}

/* accordion */
.accordion {
  --accordion-margin: 0 0 var(--size-s) 0;
  
  --accordion-icon-background-color: var(--color-white-08);
  --accordion-icon-height: var(--size-s);
  --accordion-icon-width: var(--size-s);
  --accordion-icon-right: var(--size-m);
  --accordion-icon-top: 50%;
  --accordion-icon-transform: translateY(-50%) rotate(45deg);
  
  --accordion-content-background-color: var(--color-white-02);
  --accordion-content-padding: var(--size-l);
  
  margin: var(--accordion-margin);
  
  &:open .accordion__title:before {
    --accordion-icon-background-color: var(--color-white-100);
  }
  
}

.accordion__title {
  position: relative;
  
  &:before {
    content: "";
    background: var(--accordion-icon-background-color);
    height: var(--accordion-icon-height);
    width: var(--accordion-icon-width);
    position: absolute;
    top: var(--accordion-icon-top);
    right: var(--accordion-icon-right);
    transform: var(--accordion-icon-transform);
    transition: var(--timing-basic);
  }

}

.accordion__content {
  background: var(--accordion-content-background-color);
  padding: var(--accordion-content-padding);
}

[accordion="codex"] {
  
  strong {
    font-size: var(--size-12);
    letter-spacing: 1px;
    opacity: .64;
    text-transform: uppercase;
  }
  
  p {
    margin-bottom: var(--size-s);
  }
  
  ul ~ p {
    margin-top: var(--size-ml);
  }
  
  li {
    list-style: square;
    margin: var(--size-xxs) var(--size-l);
  }
  
}

[accordion="updates"] {
  --accordion-margin: 0;
  --accordion-content-padding: var(--size-m);
  
  p {
    font-size: var(--size-12);
  }
  
  p ~ p {
    margin-top: var(--size-m);
  }
  
}

/* structure */
.section {
  --section-padding-top: 0;
  --section-padding-bottom: 0;
  
  --section-header-border-color: var(--color-white-08);
  --section-header-margin: var(--size-m);
  --section-header-padding: var(--size-m);
  
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.section__header {
  border-bottom: solid 1px var(--section-header-border-color);
  margin-bottom: var(--section-header-margin);
  padding-bottom: var(--section-header-padding);
}

[section~="both"] {
  --section-padding-top: 8vh;
  --section-padding-bottom: 8vh;
}

[section~="top"] {
  --section-padding-top: 8vh;
}

[section~="bottom"] {
  --section-padding-bottom: 8vh;
}

[section~="creator"] {
  
  &:not(:first-of-type) {
    --section-padding-top: var(--size-l);
  }
}

[wrapper] {
  --wrapper-padding: var(--size-l);
  --wrapper-max-width: 88rem; /* 1408 */
  
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--wrapper-padding);
  padding-left: var(--wrapper-padding);
  max-width: var(--wrapper-max-width);
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    --wrapper-padding: var(--size-ml);
  }
  @media only screen and (max-width: 767px) {
    --wrapper-padding: var(--size-m);
  }
  
}

.grid {
  --grid-display: grid;
  --grid-gap: var(--size-m);
  
  display: var(--grid-display);
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
}

[gap="32"] {
  
  @media only screen and (min-width: 768px) {
    --grid-gap: var(--size-l);
  }
  @media only screen and (max-width: 767px) {
    --grid-gap: var(--size-l) 0;
  }
  
}

@media only screen and (min-width: 1025px) {
  [desktop="1"] > * { grid-column: span 12; }
  [desktop="2"] > * { grid-column: span 6; }
  [desktop="3"] > * { grid-column: span 4; }
  [desktop="4"] > * { grid-column: span 3; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  [tablet="1"] > * { grid-column: span 12; }
  [tablet="2"] > * { grid-column: span 6; }
  [tablet="3"] > * { grid-column: span 4; }
  [tablet="4"] > * { grid-column: span 3; }
}
@media only screen and (max-width: 767px) {
  [mobile="1"] > * { grid-column: span 12; }
  [mobile="2"] > * { grid-column: span 6; }
}

/* typography */
[heading] {
  --heading-font-family: var(--font-heading);
  --heading-font-size: var(--size-xxxl);
  --heading-font-weight: 300;
  --heading-letting-spacing: var(--size-xxs);
  
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letting-spacing);
  text-transform: capitalize;
}

[heading="2"] {
  --heading-font-size: var(--size-xl);
}

[heading="3"] {
  --heading-font-size: var(--size-l);
}

[heading="4"] {
  --heading-font-size: var(--size-ml);
}

[heading="5"] {
  --heading-font-size: var(--size-m);
}

.srt {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* header */
.header {
  --header-background-color: var(--color-black-100);
  --header-background-image: var(--color-pattern-dots);
  --header-background-size: var(--color-pattern-size);
  --header-font-color: var(--color-white-100);
  --header-padding: var(--size-m);
  
  --header-nav-gap: var(--size-m);
  
  background-color: var(--header-background-color);
  background-image: var(--header-background-image);
  background-size: var(--header-background-size) var(--header-background-size);
  color: var(--header-font-color);
  padding: var(--header-padding) 0;
  position: sticky;
  top: 0;
  z-index: 9;
}

.header__nav {
  display: flex;
  gap: var(--header-nav-gap);
}

.logo {
  filter: invert(100%);
}

/* nav */
.nav {
  --nav-gap: var(--size-s);
  
  display: flex;
  flex-direction: column;
  gap: var(--nav-gap);
}

.nav__link {
  width: 100%;
}

/* filters */
.filters {
  --filters-gap: var(--size-s);
  --filters-margin: var(--size-l) 0 var(--size-l) auto;
  --filters-width: 50%;
  --filters-top: var(--size-m);
  
  align-items: center;
  display: flex;
  gap: var(--filters-gap);
  justify-content: flex-end;
  margin: var(--filters-margin);
  width: var(--filters-width);
  position: sticky;
  top: var(--filters-top);
  z-index: 9;
}

/* footer */
.footer {
  --footer-background-color: var(--color-black-100);
  --footer-background-image: var(--color-pattern-dots);
  --footer-background-size: var(--color-pattern-size);
  --footer-border-color: var(--color-white-08);
  --footer-font-size: var(--size-ms);
  --footer-margin: 8vh;
  
  align-items: center;
  background-color: var(--footer-background-color);
  background-image: var(--footer-background-image);
  background-size: var(--footer-background-size) var(--footer-background-size);  
  border-top: solid 1px var(--footer-border-color);
  display: flex;
  font-size: var(--footer-font-size);
  justify-content: center;
  margin-top: var(--footer-margin);
  height: 4.5rem; /* 72px */
}

/* dialog */
.dialog {
  --dialog-backdrop-filter: blur(var(--size-s));
  --dialog-background-color: var(--color-black-88);
  --dialog-box-shadow: var(--shadow-level-1);
  --dialog-font-color: inherit;
  --dialog-padding: var(--size-l);
  --dialog-height: calc(100vh - var(--dialog-top));
  --dialog-width: 20rem; /* 320px */
  --dialog-position: fixed;
  --dialog-top: 4.5rem; /* 72px */
  --dialog-right: auto;
  --dialog-bottom: auto;
  --dialog-left: auto;
  --dialog-transform: none;
  
  --dialog-close-top: var(--dialog-padding);
  --dialog-close-right: 0;
  --dialog-close-left: auto;
  --dialog-close-transform: translate(50%, 0);
    
  backdrop-filter: var(--dialog-backdrop-filter);
  background: var(--dialog-background-color);
  border: 0;
  box-shadow: var(--dialog-box-shadow);
  color: var(--dialog-font-color);
  opacity: 0;
  overflow: visible;
  padding: var(--dialog-padding);
  height: var(--dialog-height);
  width: var(--dialog-width);
  position: var(--dialog-position);
  top: var(--dialog-top);
  right: var(--dialog-right);
  bottom: var(--dialog-bottom);
  left: var(--dialog-left);
  transform: var(--dialog-transform);
  transition: var(--timing-display);
  z-index: 9;
  
  &[open] {
    opacity: 1;
    --dialog-transform: translate(0, 0);
  }
  
}

@starting-style {
  
  [dialog][open] {
    opacity: 0;
  }
  
  [dialog="expose"][open] {
    --dialog-transform: translate(0, 108%);
  }
  
  [dialog="primary"][open] {
    --dialog-transform: translate(-108%, 0);
  }
  
  [dialog="secondary"][open] {
    --dialog-transform: translate(108%, 0);
  }
  
}

.dialog__close {
  position: absolute;
  top: var(--dialog-close-top);
  right: var(--dialog-close-right);
  left: var(--dialog-close-left);
  transform: var(--dialog-close-transform);
  z-index: 9;
}

.dialog__content {
  
  /* media */
  @media screen and (max-width: 767px) {
    max-height: calc(100vh - 8.5rem);
    overflow-y: auto;
  }

}

[dialog="primary"] {
  --dialog-right: auto;
  --dialog-left: 0;
  --dialog-transform: translate(-108%, 0);
}

[dialog="secondary"] {
  --dialog-right: 0;
  --dialog-left: auto;
  --dialog-transform: translate(108%, 0);
  
  --dialog-close-right: auto;
  --dialog-close-left: 0;
  --dialog-close-transform: translate(-50%, 0);
}

[dialog="expose"] {
  --dialog-padding: var(--size-l) var(--size-m) var(--size-m);
  --dialog-height: 100%;
  --dialog-width: 100%;
  --dialog-position: absolute;
  --dialog-top: 0;
  --dialog-right: 0;
  --dialog-bottom: 0;
  --dialog-left: 0;
  --dialog-transform: translate(0, 108%);
  
  --dialog-close-top: var(--size-m);
  --dialog-close-right: var(--size-m);
}

/* tabs */
.tabs {
  --tabs-display: flex;
  --tabs-gap: var(--size-s);
  --tabs-padding: var(--size-l);

  --tab-size: 33%;
  
  display: var(--tabs-display);
  flex-wrap: wrap;
  gap: var(--tabs-gap);
  padding-bottom: var(--tabs-padding);
  
  &.condensed {
    --tabs-gap: var(--size-xs);
    --tab-size: 15%;
    
    > * {
      max-width: var(--tab-size);
    }
    
  }
  
  > * {
    flex: 1 0 var(--tab-size);
  }
  
}

.tabs__title {
  --tabs-title-border: solid 1px var(--color-white-08);
  --tabs-title-spacing: var(--size-m);
  
  border-bottom: var(--tabs-title-border);
  margin-bottom: var(--tabs-title-spacing);
  padding-bottom: var(--tabs-title-spacing);
}

/* hero */
.hero {
  --hero-border-color: var(--color-white-08);
  
  --hero-grid-areas: "a b c" "d e f" "g h i"; 
  
  --hero-content-align-items: center;
  --hero-content-flex-direction: column;
  --hero-content-gap: var(--size-m);
  --hero-content-grid-area: g;
  --hero-content-justify-content: center;
  
  --hero-animation-size: var(--size-xxs);
  --hero-animation-shadow: 0 0 var(--size-xs) var(--size-xs);
  
  border-bottom: solid 1px var(--hero-border-color);
  max-height: 80dvh;
  overflow: hidden;
  position: relative;
}

.hero__asset-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__grid {
  display: grid;
  grid-template-areas: var(--hero-grid-areas);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  inset: 0;
  z-index: 1;
  
  @media only screen and (max-width: 767px) {
    --hero-grid-areas: "a a a" "b b b" "c c c";
  }
  
}

.hero__content {
  align-items: var(--hero-content-align-items);
  display: flex;
  flex-direction: var(--hero-content-flex-direction);
  gap: var(--hero-content-gap);
  grid-area: var(--hero-content-grid-area);
  justify-content: var(--hero-content-justify-content);
  
  @media only screen and (max-width: 767px) {
    --hero-content-grid-area: c;
  }
  
}

.hero__logo {
  max-width: 64%;
}

[hero~="center"] .hero__content {
  
  @media only screen and (min-width: 768px) {
    --hero-content-grid-area: e;
  }
  @media only screen and (max-width: 767px) {
    --hero-content-grid-area: b;
  }
  
}

[hero~="muted"] {
  
  .hero__asset {
    filter: grayscale(100%);
    opacity: .32;
  }
  
}

/* card */
.card {
  --card-border: none;
  
  --card-content-flex-direction: column;
  --card-content-gap: var(--size-s);
  --card-content-padding: var(--size-l) 0;
  --card-content-position: static;
  
  --card-title-padding: var(--size-s);
  
  border: var(--card-border);
  overflow: hidden;
  position: relative;
}

.card__content {
  display: flex;
  flex-direction: var(--card-content-flex-direction);
  gap: var(--card-content-gap);
  padding: var(--card-content-padding);
  position: var(--card-content-position);
  z-index: 1;
}

.card__title {
  padding-bottom: var(--card-title-padding);
}

[card~="overlay"] {
  --card-content-padding: var(--size-l);
  --card-content-position: absolute;
  
  .card__content {
    bottom: 0;
    right: 0;
    left: 0;
  }
  
}

[card~="muted"] {
  
  .card__asset {
    filter: grayscale(100%);
    opacity: .32;
  }
  
}

[card~="feats"],
[card~="items"],
[card~="spells"] {
  --card-border: solid 1px var(--color-white-08);
  --card-content-padding: var(--size-m);
}

[card~="feats"],
[card~="items"] {
  
  .card__copy-1 {
    border-bottom: var(--card-border);
    font-style: italic;
    padding-bottom: var(--size-s);
  }
  
}

[card~="feats"] {
  --card-content-flex-direction: row;
  
  .card__content {
    flex-wrap: wrap;
  }
  
  .card__title,
  .card__copy-1 {
    flex: 1 0 100%;
  }
  
  .card__copy-2,
  .card__copy-3,
  .card__copy-4 {
    border: var(--card-border);
    font-size: var(--size-ms);
    font-weight: 700;
    padding: var(--size-s) var(--size-ms);
    text-transform: capitalize;
  }

}

[card~="spells"] {
  
  .card__badge,
  .card__badge:before {
    height: var(--size-ml);
    width: var(--size-ml);
    position: absolute;
  }
  
  .card__badge {
    align-items: center;
    display: flex;
    font-size: var(--size-ms);
    justify-content: center;
    top: var(--size-m);
    right: var(--size-m);    
  }
  
  .card__badge:before {
    content: "";
    background: var(--color-white-02);
    border: var(--card-border);
    position: absolute;
    top: -1px;
    left: -1px;
    transform: rotate(45deg);
  }
  
  .card__copy-1,
  .card__copy-2,
  .card__copy-3 {
    font-size: var(--size-ms);
  }
  
  .card__copy-3 {
    border-bottom: var(--card-border);
    padding-bottom: var(--size-s);
  }

}

/* page */
.page {
  
  p ~ p {
    margin-top: var(--size-ml);
  }
  
}

.block {
  --block-flex-wrap: initial;
  --block-gap: var(--size-m) var(--size-s);
  --block-margin: var(--size-m);
  
  --block-item-background: var(--color-white-02);
  --block-item-border-color: var(--color-white-08);
  --block-item-height: var(--size-xl);
  --block-item-width: var(--size-xl);
  
  align-items: center;
  display: flex;
  flex-wrap: var(--block-flex-wrap);
  gap: var(--block-gap);
  
  &.block__wrap {
    --block-flex-wrap: wrap;
    
    > .input {
      max-width: calc(50% - var(--size-xs));
    }
    
  }
  
  ~ .block {
    margin-top: var(--block-margin);
  }
  
  & > * {
    flex: 1 1 33%; /* magic */
  }
  
  @media only screen and (max-width: 767px) {
    --block-flex-wrap: wrap;
    
    &.block__tripple > * {
      flex: 1 1 18%;
    }
    
  }
  
}

.block__item {
  align-items: center;
  background: var(--block-item-background);
  border: solid 1px var(--block-item-border-color);
  display: inline-flex;
  justify-content: center;
  height: var(--block-item-height);
  min-width: var(--block-item-width);
  max-width: var(--block-item-width);
  position: relative;
  
  &.block__item--tiny {
    --block-item-width: var(--size-xxxl);
  }
  
  &.block__item--small {
    --block-item-width: 7rem; /* 112px */
  }
  
  &.block__item--medium {
    --block-item-width: 8rem; /* 128px */
  }
  
  &.block__item--full {
    --block-item-width: auto;
  }
  
}

.block__label {
  --block-label-background: transparent;
  --block-label-font-color: var(--color-white-88);
  --block-label-font-size: var(--size-s);
  --block-label-padding: 0 var(--size-xs);
  --block-label-position: absolute;
  --block-label-top: 0;
  --block-label-left: 50%;
  --block-label-transform: translate(-50%, -50%);  
  
  background: var(--block-label-background);
  color: var(--block-label-font-color);
  font-size: var(--block-label-font-size);
  padding: var(--block-label-padding);
  text-transform: capitalize;
  position: var(--block-label-position);
  top: var(--block-label-top);
  left: var(--block-label-left);
  transform: var(--block-label-transform);
  z-index: 1;
}

/* saved characters */
.character-list {
  --character-list-gap: var(--size-m);
  --character-list-margin: 0 0 var(--size-xl) 0;
  
  display: flex;
  flex-direction: column;
  gap: var(--character-list-gap);
  margin: var(--character-list-margin);
}



/* table */
.table {
  --table-border: solid 1px var(--color-white-32);
  --table-font-size: 14px;
  --table-margin: var(--size-ml);
  --table-padding: var(--size-xs);
  
  border: var(--table-border);
  border-collapse: collapse;
  empty-cells: show;
  font-size: var(--table-font-size);
  margin-top: var(--table-margin);
  table-layout: fixed;
  width: 100%;
  
  th,
  tr,
  td {
    border: var(--table-border);
    padding: var(--table-padding);
    text-align: center;
  }
  
}

.table__header {
  width: 16.6666%;
}