* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
video {
  display: block;
}

img,
picture,
video {
  line-height: 0;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
  /* safari */
  appearance: none;
  --webskit-appearance: none;
}